<!-- Image -->
<div class="row">
  <div class="vol-md-12">
    <%= image_tag @room.cover_photo(nil), width: "100%" %>
  </div>
</div>
<br/>

<div class="row">
  <!-- Left panel -->
  <div class="col-md-8">

    <!-- Listing Name -->
    <div class="row">

    </div>
    <hr/>

    <!--  Room Info -->
    <div class="row">

    </div>
    <hr/>

    <!-- About -->
    <div class="row">

    </div>
    <hr/>

    <!-- Amenities -->
    <div class="row">

    </div>
    <hr/>

    <!-- Carousel -->
    <div class="row">

    </div>
    <hr/>
  </div>

  <!-- Right panel-->
  <div class="col-md-4">
    <!-- Reservation Form -->
  </div>
</div>
